* {
    font-family: 'Didact Gothic', sans-serif;
    color: #83c8d9;
    margin: 0px;
}
:target {
    display: block;
    position: relative;
    top: -120px; 
    visibility: hidden;
  }
body {
    background-color: #313e3b;
}
h1 {
    color: #e3e5e5;
    font-size: 20pt;
}
h3 {
    color: #e3e5e5;
    font-size: 16apt;
}
a {
    color: #e3e5e5
}
ul {
    list-style-type: none;
    padding: 0px;

}
.centered {
    text-align: center;
}

.menu {
    background-color: #252D2F;
    padding: 8px;
    position: sticky;
    top: 0;
}
.container {
    border: 2px solid #83c8d9;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #313e3b;
    margin: 10px;
}
.image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.headshot {
    width: 200px;
    height: auto;
    border: 2px solid #83c8d9;
    border-radius: 20px;
}
.about {
    padding: 10px;
}
.skills.container {
    flex-direction: column;
    padding: 10px;
}

.skill {
    display: flex;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.skill-name {
    width: 150px;
    text-align: right;
    padding-right: 5px;
    color: #40A4BC
}
.start.filled-box {
    width: 25px;
    background-color: #83C8D9;
    border: 2px solid #83C8D9;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.filled-box {
    width: 25px;
    background-color: #83C8D9;
    border: 2px solid #83C8D9;
    border-radius: 2px;
    margin: 3px;
}
.end.filled-box {
    width: 25px;
    background-color: #83C8D9;
    border: 2px solid #83C8D9;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.unfilled-box {
    width: 25px;
    border: 2px solid #2F7686;
    margin: 3px;
}
.end.unfilled-box {
    width: 25px;
    border: 2px solid #2F7686;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


/* Extra small devices */
@media only screen and (max-width: 600px) {
.name {
    text-align: center;
    padding-bottom: 5px;
}
.navbar {
    margin-bottom: 5px;
}
.navbar-item {
    color: #e3e5e5;
    margin: 2px;
}
.about {
    scroll-margin-top: 0;
}
.about.container {
    flex-direction: column;
}


}



/* Small Devices */
@media only screen and (min-width: 600px) {
.menu {
    display: flex;
    justify-content: space-evenly;
}
.name {
    flex-shrink: 0;
    margin: 5px;
}
.navbar {
    width: 100%;
}
.navbar-item {
    color: #e3e5e5;
    margin: 2px;
}
.image-container {
    justify-content: start;
    align-items: flex-start;
}
.headshot {
    margin-left: 8px;
}
.bio {
    display: flex;
}
.about.container {
    flex-direction: column;
}
.skill {
    justify-content: start;
}
.skills.container {
    width: fit-content;
}
}

/* Medium Devices */
@media only screen and (min-width: 768px) {

.name {
    margin: 20px;
}
.navbar {
    margin: 20px;
}
.about p {
    height: 100%;
}
.skills.container {
    width: fit-content;
}
}
/* Large Devices */
@media only screen and (min-width: 992px) {
.skill {
    justify-content: start;
}
.skills.container {
    width: fit-content;
}
/* Extra large Devices */
@media only screen and (min-width: 1200px) {

}
